div.main {
    margin: 10px;
  }
  
  div.classification-name {
    height: 30px;
    width: 100px;
    float: left;
    clear: both;
  }
  
  div.description {
    height: 30px;
    width: 150px;
    float: left;
  }
  
  div.unit-price {
    height: 30px;
    width: 100px;
    float: left;
  }
  
  div.num-people {
    height: 30px;
    width: 100px;
    float: left;
  }
  
  div.party {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    background-color: azure;
    float: left;
    clear: both;
  }
  
  div.total-amount {
    margin-top: 10px;
    height: 30px;
    width: 200px;
    background-color: azure;
    float: left;
  }
  
  input.party {
    width: 50px;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  input.total-amount {
    width: 80px;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
  }